<html>
<head>
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js"></script>
    <script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
    <script src="https://rawgit.com/Asymmetrik/leaflet-d3/master/dist/leaflet-d3.js" charset="utf-8"></script>
    <script src="/scripts/xlsx/dist/xlsx.full.min.js"></script>

    <script src="/scripts/xlsx/dist/xlsx.full.min.js"></script>
    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
    <script src="/scripts/bootstrap/dist/js/bootstrap.js"></script>


    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


</head>
<body>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Map</a>
        </li>
        <li role="presentation">
            <a href="#data" aria-controls="profile" role="tab" data-toggle="tab">Data</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">


            <!--PLACEHOLDER FOR THE ENTIRE MAP DO NOT REMOVE-->
            <div id="map"></div>
            <!--END OF PLACEHOLDER FOR THE ENTIRE MAP DO NOT REMOVE-->
            <div id="rightpanel">

                <div class="leftpanel-component" id="knn">
                    <!--<svg ></svg>-->


                </div>
                <div class="leftpanel-component" id="detailedPointsMap">
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane container" id="data">
            <label class="btn btn-default btn-file">
                Browse: <input id="readfile" type="file" onchange="handleFile(event)"/>
            </label>

            <table class="table table-bordered" id="data-table">
               <tbody>

               </tbody>
            </table>
        </div>
    </div>

</div>

<script src="/javascripts/mapfunctions.js"></script>
<script src="/javascripts/detailedPointsMapFunctions.js"></script>
<script src="/javascripts/lineChart.js"></script>
<script src="/javascripts/dataupload.js"></script>
<script src="/javascripts/togglemap.js"></script>

</body>

</html>