<html>
<head>
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet-src.js"></script>
    <script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
    <script src="https://rawgit.com/Asymmetrik/leaflet-d3/master/dist/leaflet-d3.js" charset="utf-8"></script>
    <script src="/scripts/xlsx/dist/xlsx.full.min.js"></script>

    <script src="/scripts/xlsx/dist/xlsx.full.min.js"></script>
    <script src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js"></script>
    <script src="/scripts/bootstrap/dist/js/bootstrap.js"></script>


    <link rel="stylesheet" href="/styles/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css">
    <link rel="stylesheet" href="/stylesheets/style.css">


</head>
<body>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Map</a>
        </li>
        <li role="presentation">
            <a href="#data" aria-controls="profile" role="tab" data-toggle="tab">Data</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <!--<div id="leftpanel" style="overflow:auto">-->
                 <!--<span class="toggle-button bs-tooltip" style="float:right; display: inline-block; cursor: pointer; margin-right:10px"-->
                       <!--data-toggle="tooltip" data-placement="left" title="Click to toggle map">-->
                     <!--&lt;!&ndash;toggle hide/show map&ndash;&gt;-->
                     <!--<i class="fa fa-2x fa-cog">-->
                    <!--</i>-->
                    <!--</span>-->
                <!--<div class="leftpanel-component">-->

                    <!--<span class="dropdown">-->
                        <!--<button class="btn btn-default dropdown-toggle"-->
                                <!--type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                            <!--Dropdown-->
                            <!--<span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                            <!--<li><a href="#">Action</a></li>-->
                            <!--<li><a href="#">Another action</a></li>-->
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                        <!--</ul>-->
                    <!--</span>-->
                    <!--asdsad-->
            <!--</div>-->
                <!--<div class="leftpanel-component" id="detailedPointsMap">-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;PLACEHOLDER FOR THE ENTIRE MAP DO NOT REMOVE&ndash;&gt;-->
            <!--<div id="map"></div>-->
            <!--&lt;!&ndash;END OF PLACEHOLDER FOR THE ENTIRE MAP DO NOT REMOVE&ndash;&gt;-->


            <!--PLACEHOLDER FOR THE ENTIRE MAP DO NOT REMOVE-->
            <div id="map"></div>
            <!--END OF PLACEHOLDER FOR THE ENTIRE MAP DO NOT REMOVE-->
            <div id="rightpanel">
                 <!--<span class="toggle-button bs-tooltip" style="float:right; display: inline-block; cursor: pointer; margin-right:10px"-->
                       <!--data-toggle="tooltip" data-placement="left" title="Click to toggle map">-->
                     <!--&lt;!&ndash;toggle hide/show map&ndash;&gt;-->
                     <!--<i class="fa fa-2x fa-cog">-->
                    <!--</i>-->
                    <!--</span>-->
                <div class="leftpanel-component">

                    <!--<span class="dropdown">-->
                        <!--<button class="btn btn-default dropdown-toggle"-->
                                <!--type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
                            <!--Dropdown-->
                            <!--<span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                            <!--<li><a href="#">Action</a></li>-->
                            <!--<li><a href="#">Another action</a></li>-->
                            <!--<li><a href="#">Something else here</a></li>-->
                            <!--<li role="separator" class="divider"></li>-->
                            <!--<li><a href="#">Separated link</a></li>-->
                        <!--</ul>-->
                    <!--</span>-->
                    <!--Test Text-->
                </div>
                <div class="leftpanel-component" id="detailedPointsMap">
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane container" id="data">
            <label class="btn btn-default btn-file">
                Browse: <input id="readfile" type="file" onchange="handleFile(event)"/>
            </label>

            <table class="table table-bordered" id="data-table">
               <tbody>

               </tbody>
            </table>
        </div>
    </div>

</div>

<script src="/javascripts/mapfunctions.js"></script>
<script src="/javascripts/detailedPointsMapFunctions.js"></script>
<script src="/javascripts/dataupload.js"></script>
<script src="/javascripts/togglemap.js"></script>

</body>

</html>