 .hexbin-hexagon {
   stroke: #000;
   stroke-width: 1px;
 }

#overlay {
  position: fixed; /* Sit on top of the page content */
  /* Hidden by default */
  width: 100px; /* Full width (cover the whole page) */
  height: 100px; /* Full height (cover the whole page) */
  background-color: rgba(0, 0, 0, 0.1);

  left:0;
  right: 0;
  bottom: 0;
  z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
